.ghhead {
    width: 100%;
    height: 170px;
    background-color: #fff;
    padding: 32px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.ghheadt {
    border: 1px solid black;
    width: fit-content;
    padding: 0 12px;
    border-radius: 999px;
    background-color: #0f172b;
    color: #fff;
    font-size: 13px;
}

.gh-support {
    font-size: 30px;
    margin: 11px 0;
}

.ghheadtext {
    color: grey;
}

.ghbody {
    width: 100%;
    background-color: #f5f7fa;
    padding: 32px;
}

.howcanwehelp {
    font-size: 20px;
    margin-bottom: 20px;
}

.email-guidecont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.email, .guidebox {
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 300px;
    width: 49%;
    background-color: #fff;
    border-radius: 18px;
}

.email{
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.recommended{
    border: 1px solid black;
    width: fit-content;
    padding: 0 8px;
    border-radius: 7px;
    background-color: #0f172b;
    color: #fff;
    font-size: 12px;
}

.mail{
    width: fit-content;
    padding: 14px;
    border-radius: 14px;
    background-color: #0f172b;
    margin: 15px 0;
}

.mail img{
    height: 30px;
}

.emailus{
    font-weight: bold;
}

.emailtop p{
    color: grey;
    padding: 15px 0;
}

.emailbottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.sendemail{
    font-weight: bold;
}

.w24hrs{
    color: rgb(95, 95, 95);
}


.guidebox{
    border: 2px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.2s ease;
  cursor: pointer;
}

.guidebox:hover{
    border-color: #cbd5e1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  
}

.guide{
    border: 1px rgb(230, 230, 230);
    width: fit-content;
    padding: 14px;
    margin-top: 33px;
    border-radius: 14px;
    background-color: #f2f6fa;
    margin-bottom: 15px;
    transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

.guidebox:hover .guide{
    background-color: #e2e8f0;
}

.guide img{
    height: 30px;
}

.browse{
    font-weight: bold;
}

.guidetop p{
    color: grey;
    padding: 15px 0;
}

.guidebottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.viewguides{
    font-weight: bold;
}

.selfpaced{
    color: rgb(95, 95, 95);
}



/*--------------------------------- New to ulynk-------------------------------- */


.newtoulynk{
    width: 100%;
    height: 400px;
    background: #0f172b;
    border-radius: 18px;
    padding: 32px;
    margin-bottom: 40px;
}

.newtoulynkt{
    color: #fff;
    font-size: 25px;
}

.newtoulynk p{
    color: rgb(189, 189, 189);
    margin-top: 5px;
    margin-bottom: 8px;
}

.newtoulynkcardcont{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;

}

.newtoulynkcard{
    width: 48%;
    height: 170px;
    background-color: #2a3245;
    border-radius: 12px;
    padding: 20px;
    transition: all 0.2s ease;
}

.newtoulynkcard:hover{
    background-color: #333c51;
}

.cardhead{
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
}

.one , .two{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 32px;
    height: 32px;
    padding: 10px;
    background-color: #555c6b;
    border-radius: 7px;
}

.createurclubprofile, .invtemembers{
    color: #fff;
}

.guidebtncont{
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guidebtn{
    background-color: #fff;
    padding: 12px 24px;
    border-radius: 14px;
    transition: background-color 0.3s ease;
}

.guidebtn:hover{
    background-color: #e3e3e3;
}

.newtoulynkt{
    display: flex;
    justify-content: space-between;
}

.newtoulynkt img{
    width: 30px;
}

.faq{
    font-size: 20px;
    margin-bottom: 4px;
}

.quickans{
    color: rgb(104, 104, 104);
    margin-bottom: 20px;
}

.faqcont{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

.faqcard{
    width: 100%;
    height: 92px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease;
}

.faqcard:hover{
    border-color: #cbd5e1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.faqcardright{
    display: flex;
    gap: 20px;
}

.quesimg{
    width: fit-content;
    height: fit-content;
    padding: 8px;
    background-color: #f2f6fa;
    border-radius: 10px;
}

.quesimg img{
    width: 16px;
    height: 16px;
}

.faqans{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faqans p{
    font-size: 15px;
    color: grey;
}

.faqgenre{
    font-size: 13px;
    width: fit-content;
    height: fit-content;
    padding: 0 12px;
    border-radius: 8px;
    background-color: #f2f6fa;
    color: rgb(89, 89, 89);
}

.protips{
    width: 100%;
    height: 160px;
    background-color: #fff;
    padding: 32px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 15px;
}

.protipshead{
    display: flex;
    gap: 8px;
    font-weight: bold;
    margin-bottom: 20px;
}

.protip{
    display: flex;
    width: 280px;
    height: 45.5;
    justify-content: space-between;
}

.protipscont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.protipimg{
    width: 32px;
    height: 32px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    background-color: #fff4c7;
    border-radius: 10px;
}

.protipimg img{
    width: 16px;
    height: 16px;
}

.protip p{
    max-width: 235px;
    color: gray;
    font-size: 15px;
}