.postbody {
    height: 100vh;
    border-left: 1px solid rgb(230, 230, 230);
    display: flex;
    width: 44%;
    overflow: hidden;
    padding: 10px 10px 10px 30px;
}

.back{
    height: fit-content;
    
    padding: 5px 7px;
    border-radius: 5px;
}

.back:hover{
    background-color: rgb(243, 243, 243);
}