.clubbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clubbanner {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.clubbanner img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 20%;
    display: block;
}

.clublogo {
    background-color: #c4c4c4;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 20%;
    display: block;
    border: 4px solid #fff;
    border-radius: 25px;
    transition: all .3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12)
}

.clublogo:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18)
}

.clublogocont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
}

.clubcontentcont{
    max-width: 1013px;
}

.clubmain {
    margin-top: 130px;
    margin-bottom: 64px;
    padding: 0 250px;
    display: flex;
    flex-direction: column;
}

.clubnameinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clubname {
    font-size: 35px;
    font-weight: bold;
}

.infoclub {
    display: flex;
    gap: 25px;
    list-style: disc;
    color: gray;
}

.clubgener {
    list-style: none;
    background-color: #f2f3f5;
    border: 1px solid rgb(162, 162, 162);
    padding: 0 15px;
    border-radius: 6px;
}

.membersnum {
    list-style: disc;
}

.clubcontactbtn {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid black;
    padding: 8px 30px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
}

.clubcontactbtn:hover {
    background-color: #141d33;
}


/* ==========================toggle button ===============================*/



.clubtoggle{
    margin: 30px 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.toggle-btn {
  position: relative;
  z-index: 1;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  transition: color 0.35s ease;
}

.toggle-btn.active {
  color: #fff;
}

.toggle-indicator {
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.toggle-wrapper {
  --gap: 4px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #f3f3f3;
  border-radius: 999px;
  padding: var(--gap);
  width: 100%;
  max-width: 850px;
  height: 36px;
  box-sizing: border-box;
}

.toggle-indicator {
  position: absolute;
  top: var(--gap);
  left: var(--gap);
  width: calc((100% - var(--gap) * 2) / 3);
  height: calc(100% - var(--gap) * 2);
  background: #000;
  border-radius: 999px;
  transition: transform 0.35s ease;
}


/* ============================About Club================================ */

.clubprofhead{
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: bold;
}

.abtclubp{
    color: gray;
    margin-bottom: 32px;
}

/* ===============================What we do ==================================*/

.whatcardcont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
    width: 100%;
    max-width: 1024px;
    margin-bottom: 32px;
}

.whatcard{
    width: 49%;
    height: 200px;
    border-radius: 15px;
    border: 1px solid rgb(230, 230, 230);
    background-color: #f4f4f4;
    padding: 24px;
    transition: all .3s ease;
}

.whatcard:hover{
        box-shadow: 0px 6px 9px #4242421f;
    transform: translateY(-2px);
}

/* =============================Leadershipcards========================== */

.leadershipcards{
    display: flex;
    justify-content: space-between;
}

.leadershipcard{
    width: 23.5%;
    height: 150px;
    border-radius: 15px;
    border: 1px solid rgb(230, 230, 230);
    background-color: #f5f5f5;
    padding: 16px;
}