.otpcard{
  padding: 40;
  background-color: #fff;
  height: 620px;
  width: 450px;
  border-radius: 10px;
}

.unilynk{
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  margin-bottom: 24px;
}

.modaltext{

  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modaltext p{
  font-size: 14px;
  color: grey;
  padding-bottom: 12px;
}

.emailverification{
  color: #000;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 8px;
}

.unilynk img{
  height: 32px;
}

.usermail{
  color: #000;
  border: 1px solid rgb(230, 230, 230);
  width: fit-content;
  padding: 8px 16px;
  display: flex;
  gap: 7px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  margin-bottom: 32px;
}

.usermail img{
  height: 17px;
}

.usermailcont{
  display: flex;
  justify-content: center;
  align-items: center;
}

.otpinputs{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.otpinput{
  border: 2px solid rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  height: 56px;
  width: 48px;
  background-color: #fff;
  font-size: 25px;
  margin: 0 0;
}

.otpinput:focus{
  border: 2px solid #000;
  outline: none;
}

.verifycontinue{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 14px 0;
  margin-bottom: 24px;
  background-color: #e4e4e7;
  color: grey;
  cursor: not-allowed;
}

.verifycontinue.active{
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.verifycontinue.active:hover{
  background-color: #2d2d2d;
}

.resendcont{
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.didntrcv{
  font-size: 14px;
  color: grey;
}

.resend{
  font-size: 14px;
  color: #000;
  font-weight: 600;
}

.resend:hover{
  text-decoration: underline;
}

.secureverify{
  padding-top: 24px;
  font-size: 12px;
  color: rgb(150, 150, 150);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}