.overlay {
    position: fixed;
    inset: 0;
    /* top:0 right:0 bottom:0 left:0 */
    z-index: 50;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.notifycard {
    height: 97vh;
    width: 360px;
    border-radius: 10px;
    background-color: #f6f6f6;
    margin-right: 15px;
    box-shadow: -10px 0 25px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(181, 181, 181);
    transform: translateX(120%);
    transition: transform 0.3s ease;
    z-index: 1000;
    padding: 16px;
    color: #000;
    box-sizing: border-box;
    font-size: 14px;
}

.notifycard:hover{
    background-color: #f6f6f6;
}

.notifycard.open {
    transform: translateX(0);
}

/* =============================Notify Head ==================================*/

.notifyhead{
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: space-between;
}

.notification{
    display: flex;
    gap: 7px;
    width: 100px;
}

.clearall{
    padding: 0 12px;
    border-radius: 6px;
    background-color: #ededed;
    box-shadow: 1px 2px 4px 0px #0003;
}

.clearall:hover{
    background-color: #e7e7e7;
}

.notifybody{
    margin-top: 12px;
    height: 95%;
    background-color: #f5f5f5;
    overflow: scroll;
    scrollbar-width: none;
}

.nonewnotify{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}