.fab {
  position: fixed;
  bottom: 40px;
  right: 500px;

  width: 50px;
  height: 50px;

  border: none;
  border-radius: 999px;

  background-color: #f2f2f2;
  color: black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  overflow: hidden;

  padding: 5px;
  transition: width 0.3s ease;
}

.plus {
  background-color: #e4dacc;
  font-size: 26px;

  width: 39px;
  height: 39px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 999px;
  flex-shrink: 0;
}

.text {
    color: rgb(88, 88, 88);
  white-space: nowrap;

  opacity: 0;
  transform: translateX(-8px);

  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
}

.fabtextcont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

/* hover expand */
.fab:hover {
  width: 140px;
}

/* smooth text reveal */
.fab:hover .text {
  opacity: 1;
  transform: translateX(0);
}
